# Archivo temporal architect
*~

# pinned files extension
.vscode/pinned-files.json

# Directorios de compilación
__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
.tox/

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
.venv/
venv/
env/
.env/

# other
.DS_Store
.idea

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

# Archivos de caché
*.cache

/no_va
./no_va