{% extends "base/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Productos{%endblock %}
{% block body_class %} sidebar-mini {% endblock body_class %}
{% block content %}
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h1>Lista de Productos</h1>

        <!-- Buscador -->
        <div class="row p-3 card-title align-items-center">
            <div class="col-md-8 col-12 mb-2 mb-md-0">
                <div class="d-flex">
                    <input type="text" id="searchInput" class="form-control form-control-sm me-2"
                           placeholder="Buscar producto...">
                    <button type="button" id="clearBtn" class="btn btn-limpiar btn-sm">Limpiar</button>
                </div>
            </div>
            <div class="col-md-4 col-12 d-flex justify-content-md-end justify-content-center">
                <a class="btn btn-crear btn-sm" href="{% url 'productos:crear_producto' %}" role="button">
                    <i class="bi bi-plus-circle"></i> Registrar Producto
                </a>
            </div>
        </div>

        <!-- Tabla de productos -->
        <div class="table-responsive">
            <table class="table table-bordered" id="productosTable">
                <thead class="text-center table-head-color">
                <tr>
                    {% for columna in columnas %}
                    <th style="color: white;">{{columna}}</th>
                    {% endfor %}
                    <th style="color: white;">Operaciones</th>
                </tr>
                </thead>
                <tbody id="productosBody">
                <!-- JS insertará los productos -->
                </tbody>
            </table>
        </div>

        <!-- Paginación -->
        <nav>
            <ul class="pagination justify-content-center" id="pagination"></ul>
        </nav>

    </div>
</div>
{% endblock %}
