{% extends "base/base.html" %}
{% load static %}

{% load humanize %}

{% block title %}Ventas{% endblock %}

{% block body_class %} sidebar-mini {% endblock body_class %}

{% block content %}
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h1>Historial de ventas</h1>
        <div class="row p-3 card-title align-items-center">
            <div class="col-12 d-flex justify-content-md-end justify-content-center">
                <a href="{% url 'ventas:ventas' %}" class="btn btn-outline-secondary btn-sm">
                    <i class="bi bi-arrow-left"></i> Volver a ventas
                </a>
            </div>
        </div>
        <div class="grid-container">
            {% if ventas_agrupadas %}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-center table-head-color">
                    <tr>
                        <th style="color: white;">Fecha</th>
                        <th style="color: white;">Total de ventas</th>
                        <th style="color: white;">Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for venta in ventas_agrupadas %}
                    <tr>

                        <td>{{venta.fecha}}</td>
                        <td>{{venta.total_ventas|floatformat:0|intcomma}}</td>
                        <td class="text-center">
                            <a href="{% url 'ventas:ventas' venta.fecha|date:'Y-m-d' %}" class="btn-crear">Ver
                                ventas</a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                {% include "base/pagination.html" with items_page=ventas_agrupadas %}
            </div>
            {% else %}
            {% include "base/sin_registro.html" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
