{% extends "base/base.html" %}

{% block title %}Editar Cliente{% endblock %}

{% block body_class %} sidebar-mini {% endblock body_class %}

{% block content %}
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h2 class="card-title">Editar Cliente</h2>
        <h6 class="card-subtitle mb-2 text-muted">Formulario de edición de cliente</h6>
        <a href="{% url 'clientes:clientes' %}" class="card-link mb-3">Volver a la lista de Clientes</a>
        <form method="POST">
            {% csrf_token %}

            <div class="input-group mb-3">
                <span class="input-group-text">Nombre</span>
                {{ form.nombre }}
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Apellido</span>
                {{ form.apellido }}
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Documento</span>
                {{ form.documento }}
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Correo</span>
                {{ form.correo }}
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Celular</span>
                {{ form.celular }}
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Dirección</span>
                {{ form.direccion }}
            </div>

            <div class="text-center mb-3">
                <button type="submit" class="btn-crear mt-3 ">Guardar cambios</button>
                <button type="button" class="btn-cancelar mt-3"
                    onclick="window.location.href='{% url 'clientes:clientes' %}'">Cancelar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}