{% extends "base/base.html" %}

{% block title %}Crear Productos{% endblock %}

{% block body_class %} sidebar-mini {% endblock body_class %}

{% block content %}
    <h1>Crear Usuario</h1>
    <section class="content">
      <div class="container-fluid">
        <div class="vstack gap-2"><!-- INICIO DE PILA DE DATOS -->
          <div class="p-2">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center mb-3">
          <button type="submit" class="btn btn-primary mt-3 ">Guardar</button>
      </div>
    </form>
  </div>
  </div>
  </div>
  </section>
<script>
    // Aplicar Select2 al campo de roles
    $(document).ready(function() {
        $('#id_roles').select2({
            placeholder: "Selecciona uno o más roles",  // Texto de marcador
            allowClear: true,  // Permitir limpiar la selección
        });
    });
</script>  
{% endblock %}
