{% extends "base/base.html" %}
{% load static %}
{% block title %}Lista de Usuarios {% endblock %}
{% block body_class %} sidebar-mini {% endblock body_class %}
{% block content %}


<div class="card" style="width: 100%;">
    <div class="card-body">
        <h1>Lista de usuarios</h1>
       <div class="row p-3 card-title align-items-center">
            <div class="col-12 d-flex justify-content-md-end justify-content-center">
                <a class="btn btn-crear btn-sm" href="{% url 'usuarios:usuarios_create' %}" role="button">
                    <i class="bi bi-plus-circle"></i> Crear usuario</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="text-center table-head-color">
                    <tr>
                        {% for columna in columnas %}
                        <th style="color: white;">{{ columna }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios_por_pagina %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.first_name }}</td>
                        <td>{{ usuario.last_name }}</td>
                        <td class="text-center"><a type="button" class="btn-crear"
                            href="{% url 'usuarios:usuarios_modificar' usuario.id %}"><i
                                class="bi bi-pen"></i></a>
                            <!--
                        <a type="button" class="btn-cancelar"
                            href="#"><i
                                class="bi bi-trash"></i></a>-->
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'base/pagination.html' with items_page=usuarios_por_pagina%}
        </div>
    </div>

</div>

{% endblock %}